$flaticon_derma2go-font: "flaticon_derma2go";

@font-face {
    font-family: $flaticon_derma2go-font;
    src: url("./flaticon_derma2go.woff2?0b9a9ddf5e50f4d25234f6778770659d") format("woff2"),
url("./flaticon_derma2go.woff?0b9a9ddf5e50f4d25234f6778770659d") format("woff"),
url("./flaticon_derma2go.eot?0b9a9ddf5e50f4d25234f6778770659d#iefix") format("embedded-opentype"),
url("./flaticon_derma2go.ttf?0b9a9ddf5e50f4d25234f6778770659d") format("truetype"),
url("./flaticon_derma2go.svg?0b9a9ddf5e50f4d25234f6778770659d#flaticon_derma2go") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_derma2go !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_derma2go-map: (
    "research": "\f101",
    "dermatologist": "\f102",
    "serum": "\f103",
    "dermatology": "\f104",
    "dermatologist-1": "\f105",
    "uv-protection": "\f106",
    "allergy-test": "\f107",
    "patient": "\f108",
    "medical": "\f109",
    "satisfaction": "\f10a",
    "supporting": "\f10b",
    "credit-card": "\f10c",
    "online-payment": "\f10d",
    "credit-cards-payment": "\f10e",
    "personal-information": "\f10f",
    "login": "\f110",
    "security": "\f111",
    "verified-account": "\f112",
    "calendar": "\f113",
    "communication": "\f114",
    "meeting-schedule": "\f115",
    "video-call": "\f116",
    "online-meeting": "\f117",
    "video-call-1": "\f118",
    "video-conference": "\f119",
    "online-interview": "\f11a",
    "bubble-chat": "\f11b",
    "medical-information": "\f11c",
);

.flaticon-research:before {
    content: map-get($flaticon_derma2go-map, "research");
}
.flaticon-dermatologist:before {
    content: map-get($flaticon_derma2go-map, "dermatologist");
}
.flaticon-serum:before {
    content: map-get($flaticon_derma2go-map, "serum");
}
.flaticon-dermatology:before {
    content: map-get($flaticon_derma2go-map, "dermatology");
}
.flaticon-dermatologist-1:before {
    content: map-get($flaticon_derma2go-map, "dermatologist-1");
}
.flaticon-uv-protection:before {
    content: map-get($flaticon_derma2go-map, "uv-protection");
}
.flaticon-allergy-test:before {
    content: map-get($flaticon_derma2go-map, "allergy-test");
}
.flaticon-patient:before {
    content: map-get($flaticon_derma2go-map, "patient");
}
.flaticon-medical:before {
    content: map-get($flaticon_derma2go-map, "medical");
}
.flaticon-satisfaction:before {
    content: map-get($flaticon_derma2go-map, "satisfaction");
}
.flaticon-supporting:before {
    content: map-get($flaticon_derma2go-map, "supporting");
}
.flaticon-credit-card:before {
    content: map-get($flaticon_derma2go-map, "credit-card");
}
.flaticon-online-payment:before {
    content: map-get($flaticon_derma2go-map, "online-payment");
}
.flaticon-credit-cards-payment:before {
    content: map-get($flaticon_derma2go-map, "credit-cards-payment");
}
.flaticon-personal-information:before {
    content: map-get($flaticon_derma2go-map, "personal-information");
}
.flaticon-login:before {
    content: map-get($flaticon_derma2go-map, "login");
}
.flaticon-security:before {
    content: map-get($flaticon_derma2go-map, "security");
}
.flaticon-verified-account:before {
    content: map-get($flaticon_derma2go-map, "verified-account");
}
.flaticon-calendar:before {
    content: map-get($flaticon_derma2go-map, "calendar");
}
.flaticon-communication:before {
    content: map-get($flaticon_derma2go-map, "communication");
}
.flaticon-meeting-schedule:before {
    content: map-get($flaticon_derma2go-map, "meeting-schedule");
}
.flaticon-video-call:before {
    content: map-get($flaticon_derma2go-map, "video-call");
}
.flaticon-online-meeting:before {
    content: map-get($flaticon_derma2go-map, "online-meeting");
}
.flaticon-video-call-1:before {
    content: map-get($flaticon_derma2go-map, "video-call-1");
}
.flaticon-video-conference:before {
    content: map-get($flaticon_derma2go-map, "video-conference");
}
.flaticon-online-interview:before {
    content: map-get($flaticon_derma2go-map, "online-interview");
}
.flaticon-bubble-chat:before {
    content: map-get($flaticon_derma2go-map, "bubble-chat");
}
.flaticon-medical-information:before {
    content: map-get($flaticon_derma2go-map, "medical-information");
}
