/***************************/
/* SECTION: General */
.simple_hide{
  display: none;
}
h4.lang_opener {
    margin: 0;
    font-size: 16px;
    span{
      display: none;
    }
}
ul.simple_hide.polylang_langswitcher.dropdown-menu {
    width: 50px !important;
    max-width: 50px !important;
    min-width: 58px;
    text-align: center;
    margin-top: 10px;
}
/* handles logge din and out users */
.logged_in{
  display: none;
}
body.logged-in{
  .not_logged_in{
    display: none;
  }
  .logged_in{
    display: block;
  }
}
figure {
    margin: 0;
}
.btn-spinner {
    display: none;
}
.btn-loading .btn-spinner {
    display: inline-block;
}
.btn-loading .btn-label {
    opacity: 0.6;
    pointer-events: none;
}
.p-btn {
  padding: 0.375rem 0.75rem !important;
}



/* Narrow container (e.g., max 1140px) */
.container-narrow {
  --bs-gutter-x: 1.5rem;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) { .container-narrow { max-width: 540px; } }
@media (min-width: 768px) { .container-narrow { max-width: 720px; } }
@media (min-width: 992px) { .container-narrow { max-width: 960px; } }


form{
  .select2-container{
    width: 100% !important;
    .select2-selection--single{
      font-size: 1rem;
      font-weight: 400;
      line-height: 38px;
      color: var(--bs-body-color);
      background-color: var(--bs-body-bg);
      border: var(--bs-border-width) solid var(--bs-border-color);
      border-radius: var(--bs-border-radius);
      height: 38px;
      .select2-selection__rendered {
          color: var(--bs-body-color);
          line-height: 34px;
          .select2-selection__arrow {
              height: 37px;
          }
      }
    }
  }
}

ul.list-unstyled#doctor_filters li {
    margin-bottom: 10px;
}

/***************************/
/* SECTION: OVERVIEW PAGES */
article.d2g_doctor{
    .consult_list{
        li:before{
            font-size: 24px;
            margin: 0;
        }
    }
    .icon_list{
        li{
            text-align: left;
        }
        li:before{
            width: 40px;
            text-align: left;
            display: inline-block;
        }
        .ms-2.me-auto {
            line-height: 22px;
        }
    }
    .languages{
        span:after{
            content: ', ';
        }
        span:last-child:after{
            content: '';
        }
    }
}

ul.list-unstyled#doctor_filters li {
    margin-bottom: 10px;
}

#doctor_wrapper{
    /* GRID */
    .d2g_doctor.grid{
        .inner_wrapper.card.border-0.shadow.pt-5.my-5.position-relative {
            height: calc(100% - 100px);
        }
        .py-5 {
            padding-top: 3rem !important;
            padding-bottom: 3rem !important;
        }
        .pt-5 {
            padding-top: 3rem !important;
        }
        .my-5 {
            margin-top: 3rem !important;
            margin-bottom: 3rem !important;
        }
        .border-0 {
            border: 0 !important;
        }
        .position-relative {
            position: relative !important;
        }
        .shadow-lg {
            box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
        }
        .card {
            position: relative;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,0.125);
            border-radius: .25rem;
        }
        .member-profile {
            top: -50px;
            left: 0;
        }
        .text-center {
            text-align: center !important;
        }
        .w-100 {
            width: 100% !important;
        }
        .position-absolute {
            position: absolute !important;
        }
        .member-profile img {
            width: 100px;
            height: 100px;
        }
        .rounded-circle {
            border-radius: 50% !important;
        }
        .mx-auto {
            margin-right: auto !important;
            margin-left: auto !important;
        }
        .shadow-sm {
            box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
        }
        h3{
            font-size: 20px;
        }
        h4{
            font-size: 16px;
            min-height: 40px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            span:after{
                content: ', ';
            }
            span:last-child:after{
                content: '';
            }
        }
        .icon_list li:before {
            width: 22px;
            text-align: center;
            margin: 0 10px 0 0;
        }
        button.like-button {
            width: 40px;
            line-height: 36px;
            padding: 0;
            border-radius: 100%;
        }
    }
    

    /* GRID 2*/
    .d2g_doctor.grid2{
        margin-bottom: 24px;
        .card{
            overflow: hidden;
            position: relative;
            height: 100%;
        }
        button.like-button {
            width: 40px;
            line-height: 36px;
            padding: 0;
            border-radius: 100%;
            position: absolute;
            top:10px;
            left:10px;
        }
        .inner_wrapper{
            h3.entry_title {
                font-size: 20px;
            }
        }
        figure{
            padding: 12px;
        }
        img{
            box-shadow: 1px 1px 3px #333;
            border-radius: 100%;
            overflow: hidden;
        }
    }

    /* List */
    .d2g_doctor.list{
        h4.specialties {
            margin-bottom: 30px;
            font-size: 20px;
            span:after{
                content: ', ';
            }
            span:last-child:after{
                content: '';
            }
        }
        figure {
            box-shadow: 1px 1px 3px #333;
            border-radius: 100%;
            overflow: hidden;
            margin: 20px;
        }
        .inner_wrapper {
            .inner_content{
                margin-bottom: 30px;
            }
        }
        ul.consult_buttons{
            margin-left: calc(-.5 * var(--bs-gutter-x))!important;
            margin-right: calc(-.5 * var(--bs-gutter-x))!important;
            margin-bottom: 0;
            li{
                padding-left: calc(.5 * var(--bs-gutter-x))!important;
                padding-right: calc(.5 * var(--bs-gutter-x))!important;
            }
            a{
                display: flex;
                > div:last-child{
                    margin-left: 15px;
                }
                img{
                    max-width: 20px;
                    margin-right: 5px;
                }
            }
        }
        .fancybox.link{
            display: none;
        }
        ul.icon_list {
            padding: 0;
            line-height: 38px;
            margin: 0;
            li{
                padding-left: calc(.5 * var(--bs-gutter-x))!important;
                padding-right: calc(.5 * var(--bs-gutter-x))!important;
            }
        }
    }
}

/***************************/
/* SECTION: DETAIL PAGES */
/* DETAIL V3 */
article.doc_details{
    .specialties {
        span:after{
            content: ', ';
        }
        span:last-child:after{
            content: '';
        }
    }
    li.icon-globe.list-group-item.col-sm-6{
        span:after{
            content: ', ';
        }
        span:last-child:after{
            content: '';
        }
    }
}

.single-d2g_doctor.fixed_state .sidebar {
    position: fixed;
    top: 85px;
    figure{
        display: none;
    }
}
.single-d2g_doctor{
    h4.opener {
        font-size: 20px;
    }
    .sidebar{
        .consult_buttons > a.fancybox.link {
            display: none;
        }
        figure{
            position: relative;
        }
        button.like-button {
            width: 40px;
            line-height: 34px;
            border-radius: 100%;
            position: absolute;
            top: 20px;
            left: 20px;
        }
    }
}

#doctor_wrapper_v1{
    div.cal_form_wrapper,
    div#calendar_wrapper {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .walkin_form_wrapper{
        display:none;
    }
    h2.specialties {
        font-size: 24px;
    }
    #bio{
        h2{
            font-size: 24px;
        }
    }
    ul.consult_buttons{
        flex-wrap: wrap;
        > a.fancybox.link {
            display: none;
        }
        li{
            width: 100%;
            margin-bottom: 10px;
        }
        a{
            display: flex;
            justify-content: space-between;
            box-shadow: 0 0 3px #fff;
            width: 100%;
            > div:last-child{
                margin-left: 15px;
            }
            img{
                max-width: 20px;
                margin-right: 5px;
            }
        }
    }
    #extra_info{
        background: #343a40;
        color:#fff;
    }
    .top {
        background: #343a40;
        color:#fff;
        .feat_pic{
            border-radius: var(--bs-card-border-radius);
        }
        a{
            color:#fff;
        }
        div#intro {
            display: flex;
            align-items: center;
        }
    }
    .icon_list{
        list-style: none;
        padding-left: 0;
        line-height: 30px;
        li {
            padding-right: calc(.5 * var(--bs-gutter-x));
            padding-left: calc(.5 * var(--bs-gutter-x));
        }
        li:before{
            width: 30px;
            padding: 0;
            margin: 0;
        }
    } 
    
}


#doctor_wrapper_v2{
    .walkin_form_wrapper{
        display:none;
    }
    h2.specialties {
        font-size: 24px;
    }
    #bio{
        h2{
            font-size: 24px;
        }
    }
    ul.consult_buttons{
        margin-left: calc(-.5 * var(--bs-gutter-x))!important;
        margin-right: calc(-.5 * var(--bs-gutter-x))!important;
        margin-bottom: 10px;
        li{
            padding-left: calc(.5 * var(--bs-gutter-x))!important;
            padding-right: calc(.5 * var(--bs-gutter-x))!important;
        }
        a{
            display: flex;
            justify-content: space-between;
            box-shadow: 0 0 3px #fff;
            > div:last-child{
                margin-left: 15px;
            }
            img{
                max-width: 20px;
                margin-right: 5px;
            }
        }
    }
    #extra_info{
        background: #343a40;
        color:#fff;
    }
    .top {
        background: #343a40;
        color:#fff;
        .feat_pic{
            border-radius: var(--bs-card-border-radius);
        }
        a{
            color:#fff;
        }
        div#intro {
            display: flex;
            align-items: center;
        }
    }
    .icon_list{
        list-style: none;
        padding-left: 0;
        line-height: 30px;
        li {
            padding-right: calc(.5 * var(--bs-gutter-x));
            padding-left: calc(.5 * var(--bs-gutter-x));
        }
        li:before{
            width: 30px;
            padding: 0;
            margin: 0;
        }
    } 
}

#doctor_wrapper_v3{
    #booking_form .form-control-plaintext {
        padding-top: 0;
        margin-top: -5px;
    }
    #location_wrapper{
        display: none;
    }
    #extra_content{
        background: #343a40;
        color:#fff;
    }
    .top {
        background: #343a40;
        color:#fff;
        div#intro {
            display: flex;
            align-items: center;
        }
    }
    .icon_list{
        list-style: none;
        padding-left: 0;
        line-height: 30px;
        li{
            padding-right: calc(.5 * var(--bs-gutter-x));
            padding-left: calc(.5 * var(--bs-gutter-x));
        }
        li:before{
            width: 30px;
            padding: 0;
            margin: 0;
        }
    } 
    .info_notes {
        > div {
            margin: 5px 0;
            .icon {
                padding-left: 0;
                width: 30px;
                display: inline-block;
                text-align: center;
                font-size: 20px;
            }
        }
    }
    .profile_pic {
        width: 100%;
        height: auto;
        border-radius: 50%;
        min-width: 100px;
        max-width: 230px;
    }
    figure {
        padding-right: 20px;
    }
    #inloop,
    #written_consult{
        .section_title,
        .price_wrapper{
            display:none;
        }
    }
}

/*** calendar ***/

/* Round only the main grid, not the whole wrapper */
#calendar .fc-scrollgrid {
    border-radius: .5rem;
    overflow: hidden;
}
#booking_intro{
    font-size: 14px;
}
#calendar{
    font-size: 16px;
    .fc-theme-standard .fc-popover {
        top: 50%;
        left: 50%;
        margin-left: -110px;
        margin-top: -150px;
    }

    .fc .fc-daygrid-more-link {
        width: 100%;
    }
    .fc .fc-daygrid-day-bottom {
        padding: 0px !important;
        margin: 0;
        margin-top: -5px !important;
    }
    .fc-daygrid-event-harness {
        border-bottom: 1px solid #c2c2c2;
        padding: 6px 0;
        a{
            font-size: 14px !important;
        }
    }
    .fc-day-future{
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    }
    .fc-day-past {
        background: #efefef;
    }
    /* Limit popover height and add vertical scroll */
    .fc-more-popover {
        max-height: 500px;
        overflow-y: auto;
    }
    a{
        color: var(--bs-body-color);
        text-decoration: none;
    }
    .btn {
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        padding: 2px 4px;
        background: #fff;
    }
    .btn:hover{
        background: var(--bs-btn-hover-bg);
    }
    span.online {
        display: block;
        width: 100%;
    }
    
    p.address{
        margin-bottom: 5px;
    }
    .fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
        margin-right: 2px;
        cursor: pointer;
        padding-left: 3px;
        font-size: 14px;
        line-height: 15px;
        font-family: 'assistant-regular';
    }
    .fc-popover-body .fc-daygrid-event-harness{
        .fc-daygrid-event{
            font-size: 16px;
            line-height: 18px;
        }
    }
    .fc .fc-daygrid-more-link{
        display: inline-block;
        border-radius: 3px;
        margin-left: 2px;
        margin-top: 5px;
        width: calc(100% - 4px);
        padding-left: 3px;
    }
    .fc-direction-ltr .fc-daygrid-event.fc-event-end:hover, .fc-direction-rtl .fc-daygrid-event.fc-event-start:hover {
        margin-right: 2px;
    }
    .fc .fc-daygrid-day-bottom{
        padding: 0!important;
    }
}

/***************************/
/* SECTION: DOC EDIT PAGE */
.select2-container--default .select2-search--inline {
    position: relative;
    display: block;
}
.select2-container--default .select2-search--inline:before {
    position: absolute;
    content: "";
    font-family: "fontello";
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    font-size: 20px;
    text-align: center;
    z-index: 10;
    top: 12px;
    left: 10px;
}
.select2-container--default .select2-search--inline .select2-search__field {
    min-width: calc(100% - 6px);
    line-height: 18px !important;
    height: auto !important;
    padding: 12px 10px 0 36px !important;
    background: #f3f1f1;
}
span.select2-selection.select2-selection--multiple {
    border-bottom-color: rgb(220, 225, 231);
    border-left-color: rgb(220, 225, 231);
    box-shadow: rgba(13, 110, 253, 0.008) 0px 0px 0px 0.0993513px;
    border-right-color: rgb(220, 225, 231);
    border-top-color: rgb(220, 225, 231);
}
a.del_img_link.btn.btn-outline-danger.flaticon-dustbin.mb-2 {
    font-size: 30px;
}


/* some small stuff*/

#cancellation_form_wrapper {
    overflow: hidden;
}


/* responsive styles */
@media only screen and (min-width:768px){
    #doctor_wrapper_v1 {
        padding-top: 30px;
        margin-top: 20px;
    }
}
@media only screen and (max-width:767px){
    #doctor_wrapper_v1,  
    #doctor_wrapper_v2,
    #doctor_wrapper_v3 {
        h2.specialties{
            font-size: 20px;
        }
    }
    #doctor_wrapper_v2 .top {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        .entry_content{
            > .mb-5{
                margin-bottom: 20px!important;
            }
        }
    }
    #doctor_wrapper {
        article.d2g_doctor.list {
            justify-content: center;
            text-align: center;
            margin-bottom: 20px;
            figure{
                max-width: 100px;
                margin: 0 auto;
                position: relative;
                margin-top: -60px;
                background: #fff;
            }
            ul.consult_buttons.d-flex.list-unstyled {
                flex-wrap: wrap;
                justify-content: center;
                li{
                    margin-bottom: 10px;
                }
            }
        }
    }
    
}


@media only screen and (max-width:500px){
    #doctor_wrapper_v1 h2.specialties, #doctor_wrapper_v1 .specialties.h2 {
        font-size: 20px;
    }
    .single-d2g_doctor .sidebar figure {
        position: relative;
        max-width: 140px;
        padding: 20px !important;
        height: auto !important;
        float: left;
        margin-right: 20px;
    }
    button.fc-today-button.fc-button.fc-button-primary,
    .fc-direction-ltr .fc-daygrid-week-number {
        display: none!important;
    }
    .fc .fc-toolbar.fc-header-toolbar {
        margin-bottom: 1.5em;
        padding: 0 15px;
    }
    .fc-view-harness.fc-view-harness-active {
        height: 390px!important;
        background: #f7f8f9;
    }
    a.fc-daygrid-more-link.fc-more-link {
        font-size: 11px;
    }
    .fc .fc-daygrid-day-number {
        position: relative;
        z-index: 4;  
    }
    .fc .fc-daygrid-more-link {
        top: -7px!important;
        position: relative;
    }
    h1.entry-title {
        font-size: 24px;
    }
    h2.specialties {
        font-size: 20px;
    }
    #doctor_wrapper_v3 .icon_list {
        line-height: 25px;
    }
    #doctor_wrapper_v1,
    #doctor_wrapper_v2{
    
        .top_row{
            display: flex;
            flex-wrap: nowrap;
            .col-sm-3{
                max-width: 100px;
            }
            div#info_top {
                max-width: calc(100% - 100px);
            }
        }
        
        .icon_list{
            flex-wrap: wrap;
        }
        ul.consult_buttons {
            flex-wrap: wrap;
            li{
                width: 100%;
                margin-bottom: 10px;
                a{
                    width:100%;
                }
            }
        }
    }
    #doctor_wrapper_v3 .icon_list {
        line-height: 25px;
    }
}