/*general*/
button.btn-default.button,
a.btn-default.button{
    font-size: 16px;
    line-height: 20px;
    padding: 10px 20px;
    display: inline-block;
}
.simple_hide{
    display:none;
}
.mb-l{
    margin-bottom: 70px;
}
div.center{
    text-align: center;
}
/*tabs*/
.pm_tabs.row {
    margin: 0 0 50px !important;
    padding: 0;
}
.pm_tabs.row li.tab {
    list-style: none !important;
    text-align: center;
    padding: 0;
    overflow: hidden;
    border:none;
}
.pm_tabs.row li span {
    display: block;
}
.pm_tabs.row li span:first-child {
    width: 50px;
    line-height: 40px;
    border: 5px solid #333333;
    border-radius: 100%;
    margin: 0 auto;
    background: #000;
    position: relative;
    z-index: 10;
}
.pm_tabs.row li span:last-child {
    font-weight: 700;
}
.pm_tabs.row li:before {
    content: '';
    height: 5px;
    width: 100%;
    position: absolute;
    top: 25px;
    left: 0;
    background: #333333;
}
.pm_tabs.row li.active span:first-child {
    border: 5px solid rgb(40, 48, 61);
}
.pm_tabs.row li.active:before {
    background: rgb(40, 48, 61);
}

/*profile edit form*/
#doctor_post h3{
    margin: 0 0 15px;
}
.form-table label{
    display: block;
    margin: 15px 0 5px;
}
p#submitwrap {
    text-align: center;
    margin: 0 0 50px;
}
button.select2-selection__choice__remove {
    padding: 1px 4px !important;
    border-radius: 0;
}
.select2-container {
    width: 100%!important;
    margin-bottom: 50px;
}
.select2-container--default .select2-search--inline .select2-search__field {
    min-width: calc(100% - 6px);
    line-height: 20px !important;
    height: auto !important;
    padding: 12px 10px 0px 36px !important;
}
.select2-container--default .select2-search--inline {
    position: relative;
    display: block;
}
.select2-container--default .select2-search--inline:before {
    position: absolute;
    content: "";
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    font-size: 20px;
    text-align: center;
    z-index: 10;
    top: 10px;
    left: 10px;
}
.d2g_doctor-form .exp_edu{
    margin-bottom: 20px;
}
.d2g_doctor-form input[type="text"], .d2g_doctor-form input[type="email"], .d2g_doctor-form input[type="url"], .d2g_doctor-form input[type="password"], .d2g_doctor-form input[type="search"], .d2g_doctor-form input[type="number"], .d2g_doctor-form input[type="tel"], .d2g_doctor-form input[type="range"], .d2g_doctor-form input[type="date"], .d2g_doctor-form input[type="month"], .d2g_doctor-form input[type="week"], .d2g_doctor-form input[type="time"], .d2g_doctor-form input[type="datetime"], .d2g_doctor-form input[type="datetime-local"], .d2g_doctor-form input[type="color"], textarea{
    width: 100%;
    font-size: 16px;
}
.d2g_doctor-form .profile_pic_wrapper{
    position: relative;
    margin-bottom: 70px;
}
.d2g_doctor-form a.del_img_link.button{
    border-radius: 100%;
    padding: 0!important;
    width: 90px;
    position: absolute;
    text-align: center;
    right: -42px;
    top:-42px;
    z-index: 13;
}
.d2g_doctor-form a.del_img_link.button:hover{
    background: #000;
}
.del_img_link::before {
    font-size: 40px !important;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 84px;
}
.row.exp_edu > div:first-child > div > div:first-child{
   padding-right: 0;
}
.row.exp_edu > div:first-child > div > div:last-child{
    padding-left: 0;
 }
 .mb-l{
    margin-bottom: 70px;
 }
 .d2g_doctor-form h3{
    text-transform: uppercase;
    margin-bottom: 20px;
 }
 .margin-bottom-standard{
    margin-bottom: 30px;
 }
*{
    box-sizing: border-box;
}
.loader{
    width: 200px;
    height: 200px;
    background: url(images/myloader.gif) no-repeat bottom center #000;
    background-size: 80px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    z-index: 13;
    padding: 20px;
    text-align: center;
    
}
.d2g_doctor-form.loading:before {
    content: '';
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: rgba(255,255,255, 0.7);
    z-index: 12;
    position: absolute;
    top:-15px;
    left: -15px;
}
.d2g_doctor-form.loading .loader{
    display: block;
}
.d2g_doctor-form{
    position: relative;
}

/***/
/*overview page d2g_doctors*/
/***/
.row.doctors_mix_view_wrapper {
    width: 100%;
    max-width: 1240px;
}
.center.load_more_btn_wrapper {
    padding: 30px;
}

div#view_changer {
    text-align: right;
    margin-bottom: 22px;
}

button.change_view.button.btn-default {
    padding: 0;
    color: rgb(40, 48, 61);
    background: #000;
    margin-left: 15px;
}

li#hourly_price > p {
    padding-left: 8px;
    margin-bottom: 15px;
}

li#hourly_price .stretch {
    margin: 0 -8px;
}

li#hourly_price .range_slider_wrapper {
    padding: 0 10px;
}

li#hourly_price span.ui-slider-handle.ui-corner-all.ui-state-default {
    border-radius: 100%;
    background: #000;
    border-color: #707070;
}

li#hourly_price .ui-widget {
    font-size: 2px;
    margin-bottom: 15px;
}

li#hourly_price .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
    background: #707070;
}

li#hourly_price .ui-slider-horizontal .ui-slider-handle {
    top: -10px;
    margin-left: -10px;
}

li#hourly_price .ui-slider .ui-slider-handle {
    width: 20px;
    height: 20px;
}

.d2g_doctors_mix_view_wrapper.grid article.list {
    display: none;
}

.d2g_doctors_mix_view_wrapper.list article.grid {
    display: none;
}

.extra_d2g_doctor_info h3.entry-title {
    font-size: 30px;
    
}

article.type-d2g_doctor .btns a,article.type-d2g_doctor a.fancybox {
    font-size: 14px;
    
}

article.type-d2g_doctor .btns {
    margin-bottom: 10px;
}

article.type-d2g_doctor .inner_wrapper {
    position: relative;
    border: 2px solid #545454;
}

article.type-d2g_doctor .inner_wrapper figure {
    background: #000;
}

article.type-d2g_doctor .inner_wrapper figure img {
    display: block;
}

article.type-d2g_doctor .inner_wrapper .gdrts-shortcode-wrapper {
    position: absolute;
    top: -15px;
    left: -13px;
    z-index: 10;
}

article.type-d2g_doctor .inner_wrapper .gdrts-rating-text.gdrts-text-inline {
    display: none !important;
}

article.type-d2g_doctor .inner_wrapper .entry_content .gdrts-rating-user,article.type-d2g_doctor .inner_wrapper .entry_content .gdrts-rating-text {
    display: none;
}

article.type-d2g_doctor .inner_wrapper .entry_content .gdrts-rating-block {
    margin: 0;
    background: #000;
    padding: 0px 0 10px;
}

article.type-d2g_doctor .inner_wrapper .entry_content .gdrts-with-fonticon .gdrts-stars-current {
    color: rgb(40, 48, 61) !important;
}

article.type-d2g_doctor .inner_wrapper .entry_content .gdrts-rating-element * {
    font-size: 20px !important;
}

article.type-d2g_doctor h3,article.type-d2g_doctor h4 {
    
    margin-bottom: 5px;
}

article.type-d2g_doctor h4 {
    font-size: 16px;
}

article.type-d2g_doctor .icon_list {
    list-style: none;
    padding: 10px 0;
    background: #333333;
    
}

article.type-d2g_doctor.grid .icon_list{
    margin: 0 -15px;
}

article.type-d2g_doctor .icon_list li {
    position: relative;
    padding-left: 40px;
    line-height: 20px;
    font-size: 16px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 2px solid #000;
}

article.type-d2g_doctor .icon_list li:before {
    position: absolute;
    top: 50%;
    left: 8px;
    margin-top: -9px;
}

article.type-d2g_doctor .icon_list li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

article.type-d2g_doctor .specialties span,article.type-d2g_doctor .specs span {
    padding-right: 5px;
    margin-right: 5px;
    display: inline-block;
    position: relative;
}

article.type-d2g_doctor .specialties span:after,article.type-d2g_doctor .specs span:after {
    content: '|';
    position: absolute;
    right: -5px;
}

article.type-d2g_doctor .specialties span:last-child:after,article.type-d2g_doctor .specs span:last-child:after {
    content: '';
}

article.d2g_doctor.list,
article.d2g_doctor.list .promo{
    margin-bottom: 30px;
    font-size: 16px!important;
    padding-top: 30px;
}

article.d2g_doctor.list h3{
    font-size: 36px;
}

article.d2g_doctor.list h4{
    font-size: 20px;
}

article.d2g_doctor.list .col-sm-8{
    position: relative;
}

article.d2g_doctor.list .col-sm-8 table{
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 100%;
}

article.d2g_doctor.list .button {
    position: absolute;
    top: 0;
    right: 0;
}

article.type-d2g_doctor .promo {
    font-size: 14px;
    margin-bottom: 7px;
    
}

article.type-d2g_doctor.grid {
    margin-bottom: 30px;
}

article.type-d2g_doctor.grid figure {
    background: #000;
    padding-bottom: 20px;
}

article.type-d2g_doctor.grid .inner_wrapper {
    background: #333333;
    height: 100%;
    padding-bottom: 70px;
}

article.type-d2g_doctor.grid .promo {
    min-height: 100px;
}

article.type-d2g_doctor.grid .entry_content {
    background: #000;
    padding: 0 15px;
}

article.type-d2g_doctor.grid h4.specialties {
    min-height: 37px;
}

article.type-d2g_doctor.grid .btn {
    width: 100%;
    display: block;
    border-radius: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2px solid #000 !important;
}



div.extra_d2g_doctor_info .inner_wrapper {
    padding: 15px;
}

.list article.type-d2g_doctor {
    margin-bottom: 30px;
}

.list article.type-d2g_doctor .inner_wrapper .gdrts-rating-element {
    text-align: left;
}

.list article.type-d2g_doctor img {
    border: 4px solid #e1e3e5;
}

.list article.type-d2g_doctor .row {
    margin: 0 -10px;
}

.list article.type-d2g_doctor .row > div {
    padding: 0 10px;
}

.list article.type-d2g_doctor .inner_wrapper .btn {
    position: absolute;
    border-radius: 10px 0 0 10px;
    top: 0;
    right: 0;
}

.list article.type-d2g_doctor .btn_wrap {
    position: absolute;
    border-radius: 10px 0 0 10px;
    top: 12px;
    right: 160px;
}

.list article.type-d2g_doctor table.icon_list {
    background: #333333;
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 100%;
    margin-bottom: 0;
}

.list article.type-d2g_doctor table.icon_list .col-6 {
    width: 50%;
}

.list article.type-d2g_doctor table.icon_list td {
    border: none;
}


.list article.type-d2g_doctor table.icon_list td:before {
    position: absolute;
    top: 50%;
    left: 23px;
    margin-top: -9px;
}

.list article.type-d2g_doctor table.icon_list td {
    position: relative;
    padding-left: 55px;
    line-height: 20px;
    font-size: 16px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 2px solid #000;
}

.list article.type-d2g_doctor header {
    padding-top: 15px;
}

.list article.type-d2g_doctor img {
    border: 0;
    border-right: 4px solid #e1e3e5;
}

.list article.type-d2g_doctor .inner_wrapper {
    border: 4px solid #e1e3e5;
    background: #000;
}

.list article.type-d2g_doctor .promo {
    font-size: 16px;
    font-family: 'assistant-semibold';
    margin-bottom: 7px;
    padding-top: 10px;
    padding-right: 10px;
}

.list article.type-d2g_doctor h3,.list article.type-d2g_doctor h4 {
    
    margin-bottom: 15px;
}

.list article.type-d2g_doctor .row{
    margin-bottom: 0;
}

/***/
/*single doctor*/
/***/
article#doctor_wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.single-d2g_doctor .sidebar_inner {
    position: relative;
}

.single-d2g_doctor #doctor_wrapper .sidebar{
    box-sizing: border-box;
    padding: 0 15px;
    border: none !important;
}

.single-d2g_doctor .sidebar img {
    border: 4px solid #e1e3e5;
}

.single-d2g_doctor #info {
    position: relative;
    color: #fff;
}

.single-d2g_doctor .languages span:after {
    content: ', ';
}

.single-d2g_doctor .languages span:last-child:after {
    content: '';
}

.single-d2g_doctor h1 {
    font-size: 36px;
    margin-bottom: 10px;
    
    text-align: left;
}

.single-d2g_doctor h2 {
    font-size: 24px;
}

.single-d2g_doctor .doc_image img {
    border: 4px solid #e1e3e5;
}

.single-d2g_doctor ul.icon_list {
    background: #333333;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: 0;
    margin-bottom: 50px;
}

.single-d2g_doctor ul.icon_list li:first-child,.single-d2g_doctor ul.icon_list li:nth-child(3) {
    border-right: 2px solid #000;
}

.single-d2g_doctor ul.icon_list li:before {
    position: absolute;
    top: 50%;
    left: 8px;
    margin-top: -9px;
}

.single-d2g_doctor ul.icon_list li {
    position: relative;
    padding: 7px 7px 7px 40px;
    line-height: 20px;
    font-size: 16px;
    border-bottom: 2px solid #000;
    width: 50%;
    display: inline-block;
}

.single-d2g_doctor #info header{
    margin-bottom: 50px;
}

.single-d2g_doctor ul.icon_list td.my-col-sm-3,.single-d2g_doctor ul.icon_list th.my-col-sm-3 {
    width: 25%;
}

.single-d2g_doctor .row.exp_exp:first-child,.single-d2g_doctor .row.exp_edu:first-child {
    border-top: none;
}

.single-d2g_doctor .row.exp_exp:last-child,.single-d2g_doctor .row.exp_edu:last-child {
    border-bottom: none;
}

.single-d2g_doctor .row.exp_exp,.single-d2g_doctor .row.exp_edu {
    background: #333333;
    border-top: 2px solid #000;
    line-height: 33px;
    margin: 0;
    border-bottom: 1px solid #c2c2c2;
}

.single-d2g_doctor .row.exp_exp > div,.single-d2g_doctor .row.exp_edu > div {
    padding: 0 10px;
    border-right: 2px solid #000;
}

.single-d2g_doctor .row.exp_exp > div:last-child,.single-d2g_doctor .row.exp_edu > div:last-child {
    border-right: none;
}

.single-d2g_doctor table.no_pad_left th,.single-d2g_doctor table.no_pad_left td {
    padding: 7px 10px !important;
}

.single-d2g_doctor .section_title {
    margin-top: 0;
    border-top: 5px solid #333333;
    line-height: 2em;
    
    font-size: 24px;
}

body.single-d2g_doctor #doctor_wrapper{
    padding-top: 50px;
}

.single-d2g_doctor .section {
    border-top: 1px solid #c2c2c2;
    margin-top: 40px;
}

.single-d2g_doctor .anchor_links {
    list-style: none;
    font-size: 20px;
    color: #4d4339;
    padding: 0;
    margin-left: 0;
}

.single-d2g_doctor .anchor_links li{
    margin-bottom: 12px;
}

.single-d2g_doctor .anchor_links li:before {
    font-size: 20px;
}

.single-d2g_doctor .anchor_links a {
    color: #acabab;
    
}