/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.d2g-settings-wrap h2{
    font-size: 1.5em;
}
#webcamconsult-admin-iframe {
    width:100%;
    height:100%;
}
.d2g-settings-wrap input[type="text"],
select{
    min-width: 300px;
}
table.info td{
    border: 1px solid;
    padding: 10px;
    
}
table.info{
    border-collapse: collapse;
    width: 100%;
}
div.no-flex{
    display: initial!important;
}
.mb-l{
    margin-bottom: 50px;
}
.mt-xs{
    margin-top: 2px;
}
.mb-xs{
    margin-bottom: 2px;
}
label.small{
    display: block;
    width: 100%;
}
.wrap .inner{
    max-width: 800px;
    background: #fff;
    padding: 20px;
}
.wrap .inner input[type="text"] {
    width: 100%;
}
#personal-info *,
#work *,
#education *,
#publication *{
    box-sizing: border-box;
}
#personal-info label{
    font-weight: 700;
}
#personal-info input[type="text"],
#work input[type="text"],
#education input[type="text"],
#publication input[type="text"]{
    width: 100%;
    margin-bottom: 10px;
}
#personal-info .col-sm-4 > div{
    width: 100%;
}
#personal-info .col-sm-4{
    display: flex;
    align-items: center;
}

#personal-info .row,
#work .row,
#education .row,
#publication .row{
    margin: 0 -2px;   
}

#personal-info .row > div,
#work .row > div,
#education .row > div,
#publication .row > div{
    padding: 0 2px   
}
.d2g-settings-wrap hr{
    margin: 20px -20px;
}
input.hide{
    display: none;
}

.row.exp_edu .col-sm-3 input[type="text"] {
    width: 100%!important; 
}
.row.exp_edu .col-sm-3 .row{
    margin: 0 -3px;
}
.row.exp_edu .col-sm-3 .row .col-sm-6{
    padding: 3px;
}
a.remove_btn.btn-add {
    position: absolute;
    right: -5px;
    z-index: 10;
    top: 0px;
    font-size: 18px;
}
.form-table .row {
    position: relative;
    padding-right: 20px;
}
.toplevel_page_d2g-connect-admin-display .notice-warning{
    display: none!important;
}
.section_wrapper.simple_hide {
    padding: 0 10px;
}
.opener{
    cursor: pointer;
}
.opener:hover{
    background: #333;
    color:#fff;
}
.opener.active{
    background: #333;
    color:#fff;
}
.login h1{
    background-color: #fff;
}
.red{
    color:red;
}
.simple_hide{
    display:none;
}
h3.opener {
    background: #efefef;
    padding: 10px 15px;
}
input[type="date"] {
    width: 100%;
}
#personal-info .row.holiday .col-sm-4{
    display: initial!important;
}